body{
    width: 901px;
      display: grid;
      margin: auto;
  }

.imgProduct{
    display: grid;
    grid-template-columns: auto auto auto;
}

p {
    text-align: center;
    margin: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: darkslateblue;
}

img{
    margin: 0 15px;
    object-fit: cover;
    width: 300px;
    height: 100%;
}

button{
    margin-left: 120px;
    margin-top: 64px;
}


ul li{
    list-style-type:disc;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1d9b8e;
  }
  
  li{
  list-style: none;
  float: left;
  width: 10em;
}

canvas{
    margin: 75px 5px;
}